.book-card {
    border: 5px solid black;
    width: max-content;
    text-align: center;
    padding: 15px;
}

section {
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-around;
}

h1 {
    margin: 50px 47vw;
}